.stream-projector {
  height: 100vmin;
  width: 100%;
  background-color: transparent;
  display: grid;
  opacity: 1;

  .scripture {
    justify-self: stretch;
    align-self: end;
    background-color: rgba(0, 0, 0, 0.95);
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 0.5vmin;
    min-height: 30vmin;

    .verse {
      padding-left: 10vmin;
      padding-right: 10vmin;
      place-self: center;
      font-size: 5vmin;
      text-align: center;
      font-family: jost;
    }

    .caption {
      align-self: end;
      justify-self: center;
      font-family: jost;
      font-size: 4vmin;
      font-weight: 600;
    }
  }

  .lyric {
    justify-self: center;
    align-self: end;
    white-space: pre-line;
    word-wrap: normal;
    text-align: center;
    font-size: 5vmin;
    font-family: heebo;
    text-transform: uppercase;
    padding-bottom: 2vmin;
    font-weight: 800;
    text-shadow: 
      0 0 0.5vmin black,
      0 0 0.6vmin black,
      0 0 0.7vmin black,
      0 0 0.8vmin black,
      0 0 0.9vmin black,
      0 0 0.5vmin black,
      0 0 0.5vmin black,
      0 0 0.5vmin black;
  }
}

.stream-projector[data-active='false'] {
  & > * {
    opacity: 0;
  }
}

.overhead-projector[data-type='lyric'] {
  background-image: url('../static/images/Aqua\ Background.jpg');
}

.overhead-projector[data-type='scripture'] {
  background-image: url('../static/images/Bible.jpg');
}

.overhead-projector[data-active='false'] {
  & > * {
    opacity: 0;
  }

  background-color: black;
  background-image: none;
}

.overhead-projector {
  height: 100vmin;
  width: 100%;
  display: grid;
  opacity: 1;
  gap: 10vmin;

  .scripture {
    justify-self: stretch;
    align-self: start;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 5vmin;
    color: white;
    grid-gap: 5vmin;
    text-shadow: 
      0 0 0.5vmin black,
      0 0 0.5vmin black,
      0 0 0.5vmin black,
      0 0 0.5vmin black;

    .verse {
      grid-row: 2;
      padding-inline: 10vmin;
      place-self: center;
      font-size: 7vmin;
      text-align: center;
      font-family: jost;
    }

    .caption {
      grid-row: 1;
      place-self: center;
      font-family: jost;
      font-size: 7vmin;
      font-weight: 600;
    }
  }

  .lyric {
    place-self: center;
    white-space: pre-line;
    word-wrap: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4vmin;
    font-size: 7vmin;
    font-family: sans-serif;
    font-weight: 900;
    color: hsl(0, 0, 90%);

    .active {
      text-shadow: 
        0 0 0.5vmin black,
        0 0 0.5vmin black,
        0 0 0.5vmin black,
        0 0 0.5vmin black;
      color: white;
    }
  }
}
