.max-height {
  position: relative;
  display: flex;
  flex-direction: column;
}

.song-library {
  padding: 0rem 1rem 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

.song-library .search {
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  column-gap: 0.5rem;
  align-items: center;
}

.song-library .search > input {
  width: 100%;
  outline: none;
  justify-self: stretch;
}

.song-library .search > label {
  justify-self: end;
}

.song-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0.25rem;
  border: 1px solid var(--bg-dark);
  background-color: var(--bg-white);
  list-style: none;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.song-list .list-item {
  padding: 0.25rem;
  cursor: pointer;
  transition: color 100ms ease-out;
  user-select: none;
}

.song-list > .list-item:nth-child(2n) {
  background-color: #F0F0F0;
}

.song-list > .list-item:hover {
  background-color: lightsteelblue;
}

.song-list .list-item.list-item--selected,
.song-list .list-item.list-item--selected:hover {
  background-color: lightskyblue;
}
